@model UpdateBrandVM

@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Marka Güncelleme</h4>
                <form action="UpdateBrand" method="post">
                    <input type="hidden" asp-for="BrandId" />
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="@Model.Name">İsim</label>
                            <input asp-for="@Model.Name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="bottom" title="Markayı Kaydet">
                            <i class="feather-save"></i>
                        </button>
                        <a class="btn btn-light" asp-action="Index" data-toggle="tooltip" data-placement="bottom" title="Listeye Dön">
                            <i class="fas fa-list"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
