@model List<ResultCarDescriptionVM>

<div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
    @foreach(var item in Model)
    {
        <p>@item.Details</p>
    }
</div>