@model List<ResultCommentVM>

<h3 class="mb-5">@(Model?.Count() ?? 0) Yorum</h3>

<ul class="comment-list">

    @if (Model is not null)
    {
        foreach (var comment in Model)
        {
            <li class="comment">
                <div class="comment-body">
                    <h3>@comment.Name</h3>
                    <div class="meta">@comment.CreatedDate.ToShortDateString()</div>
                    <p>@comment.Content</p>
                </div>
            </li>
        }
    }
</ul>