@model List<ResultCommentVM>
@{
    ViewData["Title"] = "GetCommentsByBlog";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4>@Model.FirstOrDefault().BlogTitle Blogunun Yorumları</h4>
                </div>
                <div class="row d-flex flex-wrap">
                    @foreach (var comment in Model)
                    {
                        <div class="col-md-4">
                            <div class="card">
                                <h5 class="card-header">@comment.CreatedDate.ToShortDateString()</h5>
                                <div class="card-body">
                                    <h4 class="card-title">@comment.Name</h4>
                                    <p class="card-text">
                                        @comment.Content
                                    </p>
                                    <a href="#" class="btn btn-primary waves-effect waves-light">Yorumu Kaldır</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
