@model CreateCommentVM

<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Bir yorum ekle</h3>
    <form method="post" asp-action="AddComment" asp-controller="Blog" class="p-5 bg-light">
        <input asp-for="@Model.BlogId" type="hidden"/>
        <div class="form-group">
            <label for="name">Adınız Soyadınız *</label>
            <input asp-for="@Model.Name" type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="email">Mail Adresiniz *</label>
            <input asp-for="@Model.Email" type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="message">Yorumunuz</label>
            <textarea asp-for="@Model.Content" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Yorumu Ekle" class="btn py-3 px-4 btn-primary">
        </div>
    </form>
</div>